/* css main */
.main {
  width: 100%;
  padding: 70px 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main__source {
  font-size: 14px;
  color: #888181;
}

.main__news {
  width: 1166px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__title {
  width: 100%;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  margin-bottom: 20px;
  z-index: 0;
  font-size: 28px;
  color: #5CADEF;
  font-weight: bold;
}

.main__featured-news {
  width: 712px;
  padding: 30px;
  border-radius: 20px;
  -webkit-box-shadow: 20px 20px 60px #cbcbcb, -20px -20px 60px #ffffff;
          box-shadow: 20px 20px 60px #cbcbcb, -20px -20px 60px #ffffff;
}

.main__featured-news p {
  margin: 10px 0px 8px 0px;
}

.main__featured-news a {
  text-decoration: none;
  font-size: 18px;
  color: #7992A7;
}

.main__featured-news span {
  display: block;
  text-align: right;
}

.main__featured-news img {
  width: 652px;
  height: 222px;
  display: block;
  border-radius: 20px;
}

.main__related-news {
  width: 399px;
  margin-left: 55px;
  padding: 30px 0px;
}

.main__related-news p {
  margin-bottom: 8px;
}

.main__related-news a {
  text-decoration: none;
  display: list-item;
  font-size: 16px;
  color: #7992A7;
}

.main__related-content {
  padding: 15px 20px;
}

.main__recent-news {
  width: 1166px;
  margin: auto;
  margin-top: 80px;
  padding: 5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__recent-content {
  width: 531px;
  height: 146px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__recent-img {
  width: 180px;
  height: 110px;
  border-radius: 20px;
}

.main__recent-img img {
  width: 180px;
  height: 110px;
  border-radius: 20px;
}

.main__recent-text {
  margin-left: 38px;
  padding: 15px 0px;
  overflow: hidden;
}

.main__recent-text p {
  margin: 0;
  padding: 0;
}

.main__recent-text a {
  height: 60px;
  text-decoration: none;
  font-size: 18px;
  color: #7992A7;
  overflow: hidden;
  white-space: wrap;
  display: block;
}

.main__recent-text p:after {
  content: "......";
  color: #7992A7;
}

.main__more {
  display: block;
  outline: none;
  border: none;
  margin: 50px auto;
  text-decoration: none;
  color: #7975E1;
  font-weight: bold;
  cursor: pointer;
}

.main__more span {
  font-size: 18px;
  border-radius: 15px;
  padding: 10px 20px;
  -webkit-box-shadow: -3px 3px 15px #ffffff, 3px 3px 15px #DFC2C2;
          box-shadow: -3px 3px 15px #ffffff, 3px 3px 15px #DFC2C2;
}

.footer {
  text-align: center;
  padding: 20px 0px 30px 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #888181;
  font-weight: bold;
  font-size: 20px;
}

@media only screen and (max-width: 740px) {
  .main__news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 380px;
  }
  .main__title {
    font-size: 22px;
  }
  .main__source {
    font-size: 12px;
  }
  .main__featured-news {
    max-width: 380px;
    padding: 10px;
  }
  .main__featured-news img {
    width: 100%;
  }
  .main__featured-news a {
    font-size: 16px;
  }
  .main__related-news {
    margin: 10px 0px;
    padding: 10px;
  }
  .main__related-content {
    padding: 5px 10px;
  }
  .main__recent-news {
    max-width: 380px;
    margin-top: 30px;
    padding: 10px;
  }
  .main__recent-news a {
    font-size: 16px;
  }
  .footer {
    font-size: 18px;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 741px) and (max-width: 1023px) {
  .main__news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__recent-news {
    width: 700px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}