.main__data {
    max-width: 1166px;
    height: 460px;
    margin: auto;
    position: relative;
}

.main__title {
    font-size: 28px;
    color: #416F94;
    text-align: center;
}

.main__data-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 55px;
    padding: 25px 0px;
}

.main__data-hn {
    border-radius: 20px;
    -webkit-box-shadow: -20px -20px 60px #fafafa, 20px 20px 60px #cbcbcb;
    box-shadow: -20px -20px 60px #fafafa, 20px 20px 60px #cbcbcb;
    width: 418px;
    height: 269px;
    text-align: center;
}

.main__name-city {
    font-size: 28px;
    display: inline-block;
    padding: 25px 0px 15px 0px;
    font-family: 'Segoe UI';
    font-weight: bold;
    color: #003560;
}

.main__data-numberhn {
    width: 275px;
    height: 155px;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 115px 115px;
    grid-template-columns: 115px 115px;
    grid-column-gap: 40px;
    -ms-grid-rows: 75px 75px;
    grid-template-rows: 75px 75px;
    grid-row-gap: 25px;
}

.main__data-numberhn .box {
    text-align: center;
}

.main__data-numberhn .box span {
    font-weight: bold;
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main__data-numberhn .box p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.main__infection-number {
    color: #0870C4;
}

.main__doubt-number {
    color: #BBBB26;
    white-space: nowrap;
}

.main__die-number {
    color: #F14040;
}

.main__cured-number {
    color: #5CADEF;
}

.main__data-vn {
    width: 678px;
    height: 269px;
    border-radius: 20px;
    -webkit-box-shadow: -20px -20px 60px #fafafa, 20px 20px 60px #cbcbcb;
    box-shadow: -20px -20px 60px #fafafa, 20px 20px 60px #cbcbcb;
    text-align: center;
}

.main__data-numbervn {
    width: 568px;
    margin: auto;
    margin-top: 25px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 134px 134px 134px 134px;
    grid-template-columns: 134px 134px 134px 134px;
    grid-column-gap: 12px;
}

.main__data-numbervn span {
    font-size: 55px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.main__data-numbervn p {
    font-size: 21px;
    margin-top: 12px;
}

.main__time-update {
    text-align: center;
    margin-top: 70px;
    color: #003560;
    font-size: 20px;
}

.main__mouse {
    text-align: center;
}

.main__mouse-text {
    font-size: 20px;
    color: #7975E1;
    margin-top: 15px;
}

.main__mouse-icon {
    width: 40px;
    height: 70px;
    margin: auto;
    margin-top: 100px;
    -webkit-box-shadow: inset 0 0 0 1px #fff;
    box-shadow: inset 0 0 0 1px #fff;
    border: 1px solid #7975E1;
    border-radius: 25px;
    position: relative;
}

.main__mouse-icon:before {
    position: absolute;
    left: 50%;
}

.main__mouse-icon:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #fff;
    margin-left: -4px;
    top: 8px;
    border: 1px solid #7975E1;
    background-color: #7975E1;
    border-radius: 4px;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
}

@-webkit-keyframes scroll {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(46px);
        transform: translateY(46px);
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(46px);
        transform: translateY(46px);
    }
}

.main__search {
    max-width: 300px;
    height: 45px;
    border-radius: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    left: 50%;
    margin-left: -150px;
    margin-top: 100px;
    border: none;
    outline: none;
}

.main__search input {
    width: 300px;
    height: 45px;
    border-radius: 30px;
    font-size: 16px;
    text-align: center;
    color: rgba(122, 124, 198, 0.7);
    padding-right: 15px;
    padding-left: 24px;
    outline: none;
    border: none;
    transform: scale(0.9);
    transition: all .4s cubic-bezier(0.4, 0, 0.2, 1);
}

.main__search input::placeholder {
    color: rgba(121, 117, 225, 0.7);
}

.main__search input:focus {
    box-shadow: -3px -3px 15px #fff,
                3px 3px 15px #DFC2C2;
    transform: scale(1);
}

.main__search input::placeholder,
.main__search input-moz-placeholder,
.main__search input::-moz-placeholder,
.main__search input:-ms-input-placeholder,
.main__search input::-webkit-input-placeholder,
.main__search input:-moz-only-whitespace {
    color: rgba(121, 117, 225, 0.7);
}

.main__search i {
    position: absolute;
    top: 0px;
    left: 16px;
    width: 45px;
    height: 100%;
    text-align: center;
    line-height: 48px;
    transition: all .4s cubic-bezier(0.4, 0, 0.2, 1);
}

.main__search input:focus + i {
    left: 2px;
}

.main__table-data {
    width: 1060px;
    margin: auto;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 30px;
    -webkit-box-shadow: 0px 4px 60px rgba(93, 86, 86, 0.18);
            box-shadow: 0px 4px 60px rgba(93, 86, 86, 0.18);
}

.main__table-data * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main__table-data table {
    width: 100%;
    border-radius: 30px;
    border-spacing: 0px;
    overflow: hidden;
    font-size: 18px;
}

.main__table-data thead tr {
    background: #7975E1;
    color: white;
    height: 60px;
}

.main__table-data tbody tr {
    color: #888181;
    font-weight: 500;
}

.main__table-data table th {
    padding: 15px 25px;
    font-weight: 500;
}

.main__table-data table td {
    text-align: center;
    padding: 20px 0px;
}

@media only screen and (max-width: 740px) {
    .main {
        position: relative;
        padding: 0px;
    }

    .main__data {
        max-width: 400px;
        margin-top: 50px;
        position: relative;
    }

    .main__title {
        font-size: 22px;
    }

    .main__data-content {
        display: block;
        margin-top: 0px;
    }

    .main__data-hn {
        max-width: 380px;
        margin: auto;
    }

    .main__data-vn {
        max-width: 380px;
        margin: auto;
        margin-top: 20px;
    }

    .main__data-numbervn {
        width: 275px;
        height: 155px;
        margin: auto;
        margin-top: 20px;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 115px 115px;
        grid-template-columns: 115px 115px;
        grid-column-gap: 40px;
        -ms-grid-rows: 75px 75px;
        grid-template-rows: 75px 75px;
        grid-row-gap: 25px;
    }

    .main__data-numbervn .box {
        text-align: center;
    }

    .main__data-numbervn .box span {
        font-weight: bold;
        font-size: 28px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .main__data-numbervn .box p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        margin-top: 0;
    }

    .main__mouse {
        margin-top: 400px;
        display: none;
    }

    .main__content-hotline {
        max-width: 400px;
    }

    .main__contact {
        right: 8px;
        bottom: 120px;
    }

    .main__contact-phone {
        font-size: 24px;
    }
    
    .main__search {
        margin-top: 440px;
    }

    .main__mouse-text {
        font-size: 16px;
    }

    .main__table-data {
        max-width: 380px;
        border-radius: 20px;
    }

    .main__table-data table {
        border: none;
    }

    .main__table-data table tr {
        font-size: 14px;
        border: none;
    }

    .main__table-data table th:nth-child(1) {
        border-top-left-radius: 20px;
    }

    .main__table-data table th:nth-child(6) {
        border-top-right-radius: 20px;
    }
}

@media only screen and (min-width: 741px) and (max-width: 1023px) {
    .main {
        width: 740px;
    }

    .main__data {
        width: 700px;
        margin: auto;
    }

    .main__data-vn {
        width: 418px;
        margin-left: 20px;
    }

    .main__data-numbervn {
        width: 275px;
        height: 155px;
        margin: auto;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 115px 115px;
        grid-template-columns: 115px 115px;
        grid-column-gap: 40px;
        -ms-grid-rows: 75px 75px;
        grid-template-rows: 75px 75px;
        grid-row-gap: 25px;
    }

    .main__data-numbervn .box {
        text-align: center;
    }

    .main__data-numbervn .box span {
        font-weight: bold;
        font-size: 28px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .main__data-numbervn .box p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        margin-top: 0px;
    }

    .main__mouse {
        display: none;
    }

    .main__table-data {
        width: 700px;
    }
}