* {
  margin: 0px;
  padding: 0px;
  font-family: 'Muli', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input::placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,
input::-webkit-input-placeholder {
  font-size: 16px;
  text-align: center;
  color: rgba(121, 117, 225, 0.7);
}

body {
  background: #efefef;
}

.header__logo {
  width: 420px;
  height: 46px;
  margin: auto;
  margin-top: 30px;
  font-size: 34px;
  color: #888181;
  text-align: center;
}

.header__logo span {
  color: #b77086;
  font-weight: bold;
  vertical-align: top;
}

.header__menu {
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
}

.header__icon-bar {
  display: block;
  font-size: 26px;
  opacity: 0.5;
  display: none;
  position: absolute;
  top: 8px;
  right: 5px;
  margin-left: 10px;
  color: #003560;
}

.header__close-menu {
  display: none;
}

.header__menu-content {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 25px 0px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  grid-column: 2;
}

.header__menu-list {
  display: inline-block;
  padding: 5px 14px;
  border-radius: 8px;
  outline: none;
  transition: box-shadow .2s cubic-bezier(0.25, 0.46, 0.45, 0.94),
              background-color .45s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.header__menu-list:active {
  box-shadow: inset -3px -3px 15px #ffffff, 
              inset 3px 3px 15px #DFC2C2;
}

.header__menu-list:active:hover {
  background-color: transparent;
  border: none;
  padding: 5px 14px;
}

.header__menu-list:hover:not(.header__menu-list--active):not(:active) {
  border: 2px solid #FFFFFF;
  padding: 3px 12px;
  background: rgba(255, 255, 255, 0.3);
}

.header__menu-list--active {
  -webkit-box-shadow: -3px -3px 15px #ffffff, 3px 3px 15px #DFC2C2;
          box-shadow: -3px -3px 15px #ffffff, 3px 3px 15px #DFC2C2;
}

.header__menu-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #7992A7;
  text-decoration: none;
  font-size: 20px;
  font-weight: 550;
}

.main {
  width: 100%;
  padding: 70px 0px 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main__icon-loading {
  width: fit-content;
  position: relative;
  margin: 100px auto;
}

.main__icon-loading-hpl {
  width: 200px;
  height: 200px;
  position: relative;
  margin-left: -100px;
  margin-top: -100px;
  top: 30%;
  left: 50%;
}

.main__loading-hpl {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  border-radius: 50%;
  -webkit-animation: load 4s linear infinite;
  animation: load 4s linear infinite;
}

.main__loading-hpl::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  -webkit-box-shadow: 0 0 2px #fff5;
  box-shadow: 0 0 2px #fff5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.main__text-loading-hpl {
  text-transform: uppercase;
  font-size: 10px;
  position: absolute;
  top: 72%;
  left: 50%;
  -webkit-transform: translate(-35px, -50px);
  transform: translate(-35px, -50px);
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-animation: color 4s linear infinite;
  animation: color 4s linear infinite;
}

.main__loading {
  width: 140px;
  height: 140px;
  position: relative;
  border-radius: 50%;
  -webkit-animation: load 4s linear infinite;
          animation: load 4s linear infinite;
}

.main__loading::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  -webkit-box-shadow: 0 0 2px #fff5;
          box-shadow: 0 0 2px #fff5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.main__content-hotline {
  width: 450px;
  height: 100vh;
  background: white;
  padding: 24px;
  position: fixed;
  top: 0px;
  right: -450px;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow-x: hidden;
}

.main__close-hotline {
  cursor: pointer;
}

.main__hotline-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: #416F94;
  margin-top: 20px;
  text-align: center;
}

.main__hotline-free {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  color: #7975E1;
  text-align: center;
  padding: 14px 0px 20px 0px;
  border-bottom: 1px solid #e6e1e1;
  font-weight: 700;
}

.main__hotline-21 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #416F94;
  font-weight: 700;
  text-align: center;
  margin: 20px 0px 14px 0px;
}

.main__hotline-search {
  position: relative;
  text-align: center;
}

.main__hotline-search input {
  width: 100%;
  display: inline-block;
  border: 1px solid #7975E1;
  border-radius: 10px;
  text-align: center;
  color: #7975E1;
  height: 40px;
  outline: none;
}

.main__hotline-search input::placeholder {
  font-size: 16px;
  text-align: center;
  color: rgba(121, 117, 225, 0.7);
}

.main__hotline-search i {
  position: absolute;
  border: none;
  background-color: white;
  color: #7975E1;
  top: 50%;
  left: 16px;
  margin-top: -8px;
}

.main__hospital-menu {
  margin: auto;
  margin-top: 16px;
}

.main__hospital-menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  padding: 5px 0;
  color: #888181;
  white-space: break-spaces;
}

.main__hospital-menu li:nth-child(1) {
  color: #7975E1;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 0;
}

.main__contact {
  position: fixed;
  bottom: 140px;
  right: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__contact-title, .main__back-text {
  text-align: center;
  line-height: normal;
  white-space: nowrap;
  height: 42px;
  display: inline-block;
  color: #003560;
  padding: 10px 15px;
  background-color: white;
  border-radius: 16px;
  position: absolute;
  right: 100%;
  top: 11px;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-out, box-shadow .4s ease-out;
}

.main__contact-phone {
  width: 60px;
  height: 60px;
  position: relative;
  display: block;
  padding: 15px;
  border-radius: 50%;
  color: white;
  text-align: center;
  background: -webkit-linear-gradient(-45deg, #CF1F9A, #F56666);
  background: linear-gradient(135deg, #CF1F9A, #F56666);
  -webkit-box-shadow: 0px 4px 24px rgba(245, 102, 102, .45);
          box-shadow: 0px 4px 24px rgba(245, 102, 102, .45);
  cursor: pointer;
}

.main__back {
  width: 60px;
  height: 60px;
  position: relative;
  display: block;
  padding: 20px 0;
  border-radius: 50%;
  color: white;
  text-align: center;
  background: -webkit-linear-gradient(135deg, #F64AC3, #C3CB98);
  background: linear-gradient(135deg, #F64AC3, #C3CB98);
  -webkit-box-shadow: 0px 4px 24px rgba(245, 102, 102, 0.45);
          box-shadow: 0px 4px 24px rgba(245, 102, 102, 0.45);
  opacity: 0;
  visibility: hidden;
  transition: all .4s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.main__back.show {
  margin-bottom: 30px;
  opacity: 1;
  visibility: visible;
}

.main__contact-phone:hover > .main__contact-title,
.main__back:hover > .main__back-text {
  right: 125%;
  box-shadow: 0 6px 32px 0 rgba(0, 18, 46, 0.24);
  visibility: visible;
  opacity: 1;
}

.footer {
  margin-top: 100px;
  text-align: center;
  padding: 25px 0px 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #888181;
  font-size: 16px;
  font-weight: 500;
}

@media only screen and (max-width: 740px) {
  body {
    max-width: 414px;
  }
  .header {
    position: relative;
  }
  .header__logo {
    width: auto;
    padding-left: 10px;
    margin-top: 20px;
    font-size: 26px;
    text-align: initial;
  }
  .header__menu-content {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 0px;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    overflow: hidden;
    background: #efefef;
    z-index: 1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header__menu-list {
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0px;
    display: block;
    text-align: center;
    margin-top: 37px;
  }
  .header__menu-list--active a {
    background: #efefef;
    -webkit-box-shadow: -3px -3px 15px #ffffff, 3px 3px 15px #DFC2C2;
            box-shadow: -3px -3px 15px #ffffff, 3px 3px 15px #DFC2C2;
  }
  .header__menu-text {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
  }
  .header__icon-bar {
    display: inline-block;
  }
  .header__close-menu {
    display: block;
    color: #416F94;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 26px;
  }
  .header__menu-text {
    font-size: 18px;
  }
  .main {
    position: relative;
    padding: 0px;
  }
  .main__icon-loading {
    display: none;
  }
  .footer {
    font-size: 18px;
    margin-top: 20px;
  }
}

.main__text-loading {
  color: black;
  text-transform: uppercase;
  font-size: 12px;
  position: absolute;
  top: 45%;
  left: 10%;
  font-weight: bold;
  letter-spacing: 4px;
  -webkit-animation: color 4s linear infinite;
  animation: color 4s linear infinite;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-box-shadow: 0 3px 2px #024d4d;
    box-shadow: 0 3px 2px #024d4d;
  }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-box-shadow: 0 3px 2px #eeb703;
    box-shadow: 0 3px 2px #eeb703;
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-box-shadow: 0 3px 2px #ee02ce;
    box-shadow: 0 3px 2px #ee02ce;
  }
}

@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-box-shadow: 0 3px 2px #024d4d;
    box-shadow: 0 3px 2px #024d4d;
  }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-box-shadow: 0 3px 2px #eeb703;
    box-shadow: 0 3px 2px #eeb703;
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-box-shadow: 0 3px 2px #ee02ce;
    box-shadow: 0 3px 2px #ee02ce;
  }
}

@-webkit-keyframes color {
  0% {
    color: #dc8502;
  }

  50% {
    color: #ff8800;
  }

  100% {
    color: #ee02ce;
  }
}

@keyframes color {
  0% {
    color: #dc8502;
  }

  50% {
    color: #ff8800;
  }

  100% {
    color: #ee02ce;
  }
}